openapi: 3.0.0
info:
  title: Lesson Facilities APIs
  version: ''
servers:
  - url: http://gateway-api-golf.intra.rakuten-it.com/gora/lesson
    description: Production internal base URL
  - url: http://stg.gateway-api-travel.stg.jp.local/gora/lesson
    description: Staging internal base URL
  - url: http://lesson.golf.prod.jp.local
  - url: http://lesson.golf.stg.jp.local
  - url: http://lesson.golf.dev.jp.local
tags:
  - name: lesson facilities
    description: Lesson Facilities API to get all available plans of a lesson facility for internal use
paths:
  /internal/lesson-facilities:
    get:
      tags:
        - lesson facilities
      parameters:
        - name: lesson_facility_id_in
          in: query
          schema:
            type: string
            example: "1001,1002,1003"
        - name: count
          in: query
          required: true
          description: |
            min:1 max:1000
          schema:
            type: integer
            example: 20
        - name: from
          in: query
          required: false
          schema:
            type: string
            example: 1001
      responses:
        200:
          $ref: '#/components/responses/ResponseForGet'
        400:
          $ref: '#/components/responses/400_ValidationError'
        500:
          $ref: '#/components/responses/500_InternalServerError'
        503:
          $ref: '#/components/responses/503_Maintenance'
components:
  responses:
    ResponseForGet:
      description: |
        Successful Operation. Return the lesson facilities with available plans
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/LessonFacility'
              next:
                type: string
                description: |
                  next `lesson_facility_id` to fetch from.\
                  \
                  `null` if there's no more data to fetch.
                example: 1010
    400_ValidationError:
      description: |
        Validation Error.
        Some specified fields were invalid.
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              properties:
                field:
                  type: string
                  example: XXX_id
                message:
                  type: string
                  example: XXX id must be integer
              required:
                - field
                - message
    500_InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Internal Server Error
            required:
              - message
    503_Maintenance:
      description: Service Unavailable (Maintenance mode)
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Service Unavailable
            required:
              - message
  schemas:
    LessonFacility:
      type: object
      properties:
        lesson_facility_id:
          type: integer
          nullable: false
          example: 1001
        plans:
          type: array
          items:
            type: object
            nullable: false
            properties:
              plan_id:
                type: integer
                example: 1001